extends layouts/main.pug

block content
    main.main
        .main__header
            nav
                a(href="https://abclinks.vercel.app").main__header__link 📖 Social Links
                a(href="https://uvacoderportfolio.vercel.app").main__header__link Portfolio
            img(src="assets/images/FC756FB5-05BE-4064-9288-FD44F63BB52E.jpeg" alt="A photo")
        .main__content
            h2.main__content__name uvacoder
            small.main__content__title Founder @ BVF
            .social
                a(href="https://github.com/uvacoder" target="_blank")
                    img(src="assets/icons/github.svg" alt="Github logo").icon
                a(href="https://codepen.io/uvacoder" target="_blank")
                    img(src="assets/icons/codepen.svg" alt="Codepen logo").icon
                a(href="https://codesandbox.io/u/Uvacoder" target="_blank")
                    img(src="assets/icons/codesandbox.svg" alt="Codesandbox logo").icon
                a(href="https://dribbble.com/uvacoder" target="_blank")
                    img(src="assets/icons/dribbble.svg" alt="Dribbble logo").icon
                a(href="https://figma.com/@uvacoder" target="_blank")
                    img(src="assets/icons/figma.svg" alt="Figma logo").icon
                a(href="https://twitter.com/VaLandscapes" target="_blank")
                    img(src="assets/icons/twitter.svg" alt="Twitter logo").icon
                a(href="https://www.linkedin.com/in/alecbcampbell/" target="_blank")
                    img(src="assets/icons/linkedin.svg" alt="Linkedin logo").icon
            a(href="#projects").main__cta 
                span Projects
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
                </svg>
    .projects#projects
        each project in projects
            a(href=project.link target="_blank").card
                img(src=project.img).card__img
                h3.card__title= project.name
                img(src="assets/icons/Logout.svg").card__icon
                .card__body
                    p.card__body__description= project.desc
                    .card__body__tags 
                        each tag in project.tags
                            small.card__tags__tag= tag
